---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "mt-14 border-t border-border py-8",
      "border-t border-border",
      "flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between",
    ]}
  >
    <Socials />
    <div class="flex flex-col gap-1 text-sm text-soft sm:text-right">
      <span>Copyright &#169; {currentYear} woonyong.log</span>
      <span>Built with AstroPaper and Jenkins</span>
    </div>
  </div>
</footer>
