---
layout: default
---
<div class="velog-layout">
  {% include profile.html %}
  {% include tabs.html active=page.active_tab %}

  {% assign sorted_tags = site.tags | sort %}
  <section class="content-section content-section--posts">
    <div class="tag-pills">
      <a class="tag-pill" href="{{ '/' | relative_url }}" data-tag-link>
        전체보기
        <span>{{ site.posts.size }}</span>
      </a>
      {% for tag in sorted_tags %}
        {% assign tag_name = tag[0] %}
        {% assign tag_posts = tag[1] %}
        <a
          class="tag-pill"
          href="{{ '/' | relative_url }}?tag={{ tag_name | uri_escape }}"
          data-tag-link
          data-tag-filter="{{ tag_name }}"
          data-tag-label="{{ tag_name }}"
        >
          {{ tag_name }}
          <span>{{ tag_posts | size }}</span>
        </a>
      {% endfor %}
    </div>

    <div class="posts-panel">
      <aside class="tag-sidebar">
        <h2 class="tag-sidebar__title">태그 목록</h2>
        <ul class="tag-sidebar__list">
          <li class="tag-sidebar__item">
            <a class="tag-sidebar__link" href="{{ '/' | relative_url }}" data-tag-link>
              전체보기
              <span class="tag-sidebar__count">({{ site.posts.size }})</span>
            </a>
          </li>
          {% for tag in sorted_tags %}
            {% assign tag_name = tag[0] %}
            {% assign tag_posts = tag[1] %}
            <li class="tag-sidebar__item">
              <a
                class="tag-sidebar__link"
                href="{{ '/' | relative_url }}?tag={{ tag_name | uri_escape }}"
                data-tag-link
                data-tag-filter="{{ tag_name }}"
                data-tag-label="{{ tag_name }}"
              >
                {{ tag_name }}
                <span class="tag-sidebar__count">({{ tag_posts | size }})</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </aside>

      <p class="posts-panel__summary" data-post-summary hidden></p>
      {% include post-list.html posts=site.posts %}
      <p class="posts-panel__empty" data-post-empty hidden>조건에 맞는 글이 없습니다.</p>
    </div>
  </section>
</div>
